html, body
{
    font-size: 14px;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-weight: normal;
    cursor: default;
    text-align: center;
    color: #000000;
    background-color: #F9FFFF;
    background-image: url('/Images/BgGrains.png');
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

a, a:visited
{
    color: #0875a0;
    text-decoration: none;
}

    a:hover
    {
        color: #0875a0;
        text-decoration: underline;
    }

.smallLink {
    font-size: 11px;       
}


img
{
    border: 0;
    vertical-align: bottom;
}

td
{
    vertical-align: top;
}

p
{
    margin-top: 0;
}

textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.footerLeft
{
    position: relative;
    margin-top: -18px;
    left: 2px;
    font-size: 10pt;
    padding-left: 3px;
    font-style: italic;
}

.footerRight
{
    position: relative;
    margin-top: -17px;
    right: 0;
    bottom: 0;
    padding-right: 3px;
}

#centpourcent
{
    height: 100%;
    width: 1024px; /* 100% */
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
}
.mainTable {
    border-left: 1px solid #F7AF39;
    border-right: 1px solid #F7AF39;
    background-color: white;
}

.logo
{
    width: 100px;
}

.menu
{
    padding-top: 3px;
    font-size: 13px;
}

.titreApplication
{
    text-align: left;
    vertical-align: middle;
    height: 53px;
    padding-left: 20px;
}

.infoBar
{
    border-right: 1px solid #F8B74D;
    background: #DEECF8; /*#EEEEEE;*/
    width: auto;
    font-size: 13px;
    padding: 0 5px 25px 5px;
    margin: 0;
    color: #00156e;
    position: relative;
    height: 100%;
    width: 180px;
    text-align: center;
}

.infoBarTitle {
    font-size: 16px;
}
.buttonSimpleText {
    font-size: 12px;
    color: #F39807;
}
.leftButton {
    width: 100%;
}

.intermediaryTitle
{
    font-size: 14px;
    font-style: italic;
}

.paddedContent
{
    padding: 10px;
}

.languageSelector
{
    position: absolute;
    right: 5px;
}

/* IMG BUTTON */
.imgButton
{
    border: 1px solid #A9C6DF;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    vertical-align: bottom;
}

    .imgButton:hover
    {
        background-color: #FFE158;
    }

.imgButtonSelected
{
    border: 2px solid #A9C6DF;
}

/* MENU */
.titleDiv
{
    background: #e0e7ff;
    /*border-bottom: 1px solid #336699;*/
    width: auto;
    font-size: 13px;
    padding-bottom: 0px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    /*margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-right: 4px;*/
    color: #00156e;
    vertical-align: middle;
}

.ui-menu
{
    display: inline-block;
    text-align: center;
    width: auto;
    margin-top: -2px;
    position: absolute;
    z-index: 10000;
}

ul#menu > li
{
    width: auto; /* définit la largeur des items de niveau 1 */
    float: left; /* définit le positionnement des items de niveau 1 */
    padding: 0px 20px 0px 20px;
    z-index: 100000;
    white-space: nowrap;
}

.ui-menu-base {
    border: 1px solid white;
    background-color: #F8BE60;
    white-space: nowrap;
}

.ui-menu-sel
{
    border: 1px solid rgb(170, 170, 170);
    background: url("images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% rgb(255, 255, 255);
    color: #232323 !important;
    margin: -1px;
}

.contactsTitle
{
    background-color: #F7AF39;
    color: #232323;
    border: 1px solid #CCCCCC;
    position: fixed;
    z-index: 10000;
    right: 18px;
    bottom: 0;
    width: 180px;
    height: 20px;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    vertical-align: middle;
    padding: 3px 0 3px 0;
    cursor: pointer;
}

    .contactsTitle:hover
    {
        background-color: #F8F8F8;
    }

.contactsContent
{
    background-color: #F8F8F8;
    color: #232323;
    border: 1px solid #CCCCCC;
    position: fixed;
    z-index: 10000;
    right: 12px;
    bottom: 28px;
    width: 174px;
    font-size: 13px;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
    cursor: pointer;
}

.contactItem
{
    display: block;
    padding: 3px 0 3px 0;
}

.ui-widget-header a
{
    color: white;
}

.nameUser
{
    color: white;
}

.unreadMsg
{
    font-weight: bold;
}

.innerTitle
{
    display: inline-block;
    width: 98%;
    border: 1px solid #E5E5E5;
    padding: 6px;
    margin: 5px 0 5px 0;
    text-align: center;
    font-size: 16px;
    color: #3D556C;
}
