@{
    ViewBag.PageTitle = Resources.Intercamber.Home_PageName;
}
@section PageContent {
    <script>
        function ResizeComplement() {
            var h = $("#pageContent").height() - $("#pageTitle").height() - 10;
            $(".infoBar").height(h);
        }
    </script>
    <div class="infoBar" style="">
        <div align="center">
            <img src="~/Images/NoAvatar.png" />    
        </div>
    </div>
    
    
    

}
