@using CML.Intercamber.Business.Model
@{
    ViewBag.PageTitle = Resources.Intercamber.ChatList_PageName;
}

@section PageContent {
    
    @foreach (ThreadDetail td in ViewBag.MyThreads)
    {
        <div class="">
            <a href="/Talk/Discussion/@(td.IdThread)">@td.FirstName @td.LastName</a>
        </div>
        <br/>
    }

}
