<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
    <settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"  />
		<setting validateSqlMap="false" />
	</settings>

    <providers embedded="CML.Intercamber.Business.IBatisConfig.Providers.config,IntercamberBusiness"/>
    
	<database>
		<provider name="sqlServer2005"/>
		<dataSource name="ds" connectionString="${connectionString}"/>
	</database>

    <!-- SQLMAPS Used in solution -->
	<sqlMaps>
        <!--dont forget any !!-->
        <sqlMap embedded="CML.Intercamber.Business.IBatisQuery.Users.xml,IntercamberBusiness" />
        
	</sqlMaps>

</sqlMapConfig>