@using CML.Intercamber.Business.Model
@using CML.Intercamber.Web
@using CML.Intercamber.Web.Helpers
<script>
    function ResizeComplement() {
        var h = $('#pageContent').height() - $('#pageTitle').height() - 10;
        $(".infoBar").height(h);
    }

    $(function () {
        window.connectedHub.client.refreshOnlineStatus = function (idUser, isOnline) {
            $("#contactCnx" + idUser).attr("src", isOnline ? "/Images/Online.png" : "/Images/Offline.png");
        };
    });
</script>
<div class="infoBar" style="">
    <div align="center">
        <img src="~/Images/NoAvatar.png" />
    </div>
    
    <br/>
    <br/>
    
    @Resources.Intercamber.Home_MyContacts:<br/>
    @foreach (ContactDetail cd in SessionHelper.ContactDetails(SessionHelper.ConnectedUserId, SessionHelper.ConnectedUser.Email))
    {
        <text>
            <img id="contactCnx@(cd.IdUser)" src="@(ChatHub.IsUserConnected(cd.IdUser) ? "/Images/Online.png" : "/Images/Offline.png")" />&nbsp;@(cd.FirstName)&nbsp;@(cd.LastName)<br/>
        </text>
    }

</div>
