@using System.Linq
@using CML.Intercamber.Business
<br />
<img style="position:relative;padding-left: 130px; margin-bottom:-25px; margin-top : -5px;" src="~/Images/RoundFlagsSmall/RoundFlag_@(ViewBag.ConnectedUserInfo.IdCountry).png" />
<img src="~/Images/NoAvatar.png" />
<br />
@string.Format(Resources.Intercamber.LeftBar_Learning, ((Users)ViewBag.ConnectedUserInfo).UsersLearnLanguages.Select(x => Resources.Intercamber.ResourceManager.GetString("Languages_" + x.IdLanguage)).Aggregate((i, j) => i + ", " + j))
<br />
@string.Format(Resources.Intercamber.LeftBar_Speaking, ((Users)ViewBag.ConnectedUserInfo).UsersSpokenLanguages.Select(x => Resources.Intercamber.ResourceManager.GetString("Languages_" + x.IdLanguage)).Aggregate((i, j) => i + ", " + j))
<br />
<br />
<b>
    <div align="left">
        #Mon profil
    <br />
        <br />
        #Mes penpals
    <br />
        <br />
        #Mes discussions 
    </div>
</b>