@using CML.Intercamber.Business.Model

    
@foreach (ThreadDetail td in ViewBag.MyThreads)
{
    <div class="">
        <a href="javascript:loadChat(@(td.IdThread));void(0);">@td.FirstName @td.LastName</a>
    </div>
    <br/>
}
